@import url(http://fonts.googleapis.com/css?family=Oswald:700);

.article {
  display: inline-block;
  box-sizing: border-box;
  width: 32%;
  background: #fff;
  border: 1px solid #dedede;
  margin: 0 1% 1em 0;
  padding: 1em;
}

.article .image img {
  width: 100%;
  margin: 0 0 1em;
}

.article .title h2 {
  margin: 0 auto;
  font: 1em/1.25em "Oswald", sans-serif;
}

.article .title a {
  text-decoration: none;
  color: #000;
}

.article .description p {
  margin: 0.5em 0 0;
  font: 0.875em/1.6em Helvetica, Arial;
}